/* Add this to your existing CSS */

.map-form-container {
    display: flex;
}

.map-container,
.book-ride-form {
    flex: 1;
}

/* Additional styling for individual containers (if needed) */
.map-container {
    background-color: #f0f0f0; /* Example background color */
}

.book-ride-form {
    background-color: #e0e0e0; /* Example background color */
}

.book-ride-form {
    width: 500px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.form{ 
    margin-left: 0;
}

.header{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(car\ pic.jpg)
  }
  nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .text-box h1{
    font-size: 62px;
  }
  .text-box p{
    margin: 10px 0 40px;
    font-size:14px;
    color: #fff;
  }
  .container{
    display:relative;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select {
    height: 40px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  